<div class="container">
    <div class ="calendar">
        <div class = "textfield">
            <div class="title" >
                <h1>Calendly</h1>
            </div>
            <input type="text" name="" value = {{selectedDate}} id="">
        </div>
        <div class="nav-bar">
            <div class="left-nav">
                <button type="submit" {{action 'moveLeft'}}>
                </button>
            </div>
            <div class="date">
                <h4>{{formattedDate}}</h4>
            </div>
            <div class="right-nav"> 
                <button type="submit" {{action 'moveRight'}}>
                </button>
            </div>
        </div>
        <div class="week">
        {{#each this.services.weekdays as |day|}}
            <div class="day">
                <h4>{{day}}</h4>
            </div>
        {{/each}}
        </div>
        <div class ="grid">
            {{#each this.services.previousDayList as |prev|}}
                <div class="eachDay prev">
                    <button type="submit">
                        <p>{{prev}}</p>
                    </button>
                </div>
            {{/each}}
            {{#each this.services.dayList as |day|}}
                <div class="eachDay available">
                    <button type="submit" {{action "selectDate" day}}>
                        <p>{{day}}</p>
                    </button>
                </div>
            {{/each}}
            {{rendering}}
            {{#each this.services.nextDayList as |next|}}
                <div class="eachDay next">
                    <button type="submit">
                        <p>{{next}}</p>             
                    </button>
                </div>
            {{/each}}
        </div>
    </div>
</div>

   


